<div class="col-md-4" *ngFor="let product of products">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
            Nombre: {{product.name}}
            <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>Cantidad: {{product.cant}}</p>
            <a href="" class="btn btn-info btn-block">Editar Producto</a>
        </div>
    </div>
</div>
